body {
  margin: 0;
  padding: 0;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
}

.selected-product-details {
  width: 100%;
  height: 80vh;
}

.product-list {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
