* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

app-root > div {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 60vh;

  section.product-visualisation {
    padding: 10px;
    padding-left: 20px;
    grid-column: auto;
    img {
      border-radius: 5px;
      border: 1px solid black;
      width: 100%;
    }
  }

  section.product-details {
    padding: 10px;
    padding-right: 20px;
    height: 100%;

    display: grid;
    grid-template-areas:
      "name ."
      "desc ."
      "desc price"
      "form form";

    grid-template-rows: 1fr auto 1fr 1fr;
    gap: 5px;

    .product-title {
      font-weight: 700;
      font-size: 5rem;
      text-align: start;
      grid-area: name;
    }
    .product-description {
      font-weight: 500;
      font-size: large;
      grid-area: desc;
    }
    .product-price {
      grid-area: price;
      font-weight: 600;
      font-size: xx-large;

      justify-self: right;
      align-self: flex-end;
    }
  }

  form {
    grid-area: form;

    display: inline-grid;
    gap: 10px;
    grid-template-areas: "amount btn";
    grid-template-columns: 1fr 1fr;
  }

  form select#prod-amount {
    grid-area: amount;

    display: grid;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    background-color: rgba(128, 128, 128, 0.253);

    width: 10vw;
    height: 10vh;
    align-self: center;
    justify-self: end;

    font-size: 2rem;
    text-align: end;
    padding-left: 10px;
    padding-right: 10px;

    option {
      font-size: medium;
      text-align: center;
    }
  }

  form button.add-to-cart-btn {
    grid-area: btn;

    background-color: #1a237e;
    border-radius: 5px;
    border: none;
    height: 10vh;
    width: 20vw;

    align-self: center;
    justify-self: start;

    color: whitesmoke;
    font-size: 1.5rem;
  }

  form button.add-to-cart-btn:active {
    background-color: whitesmoke;
    color: #1a237e;
    border: 1px solid #1a237e;
  }
}
